/* Navbar.css */
.nav-products {
  display: flex;
  justify-content: space-evenly;
  background-color: #f0f0f0;
  padding: 20px;
  width: 100%;
}

.swiper {
  width: 900px;
  margin: 0px;
  padding: 10px;
}

.swiper-next-button,
.swiper-prev-button {
  font-size: 30px;
  padding: 12px;
  color: rgb(0, 0, 0);
  background-color: #f0f0f0;
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-next-button {
  right: 15px;
}

.swiper-prev-button {
  left: 15px;
}

.swiper-prev-button:hover,
.swiper-next-button:hover {
  color: rgb(101, 101, 231);
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn-nv-pr {
  border: none;
}

.lnk-pr{
  color: var(--bgcolor);
  font-size: 25px;
  line-height: 5px;


}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-btn-nv-pr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.btn-pr {
  background-color: #495461;
  color: rgba(228, 200, 124, 0.979);
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-pr:hover {
  background-color: #4e5358ce;
  color: #fff;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.btn-filter {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  transition: 0.6s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.btn-filter span {
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: 400;
  line-height: 5px;
}

.btn-filter i {
  font-size: 15px;
}
