/* Navbar.css */
.nav-products {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #4a5c6a;
  padding: 8px;
  border-radius: 50px;
  margin: 25px;
}

.swiper {
  width: 950px;
  margin: 0px;
  padding: 10px;
}

.swiper-next-button,
.swiper-prev-button {
  font-size: 35px;
  padding: 12px;
  color: rgb(0, 0, 0);
  background-color: #4a5c6a;
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-next-button {
  right: 15px;
}

.swiper-prev-button {
  left: 15px;
}

.swiper-prev-button:hover,
.swiper-next-button:hover {
  color: #ccd0cccf;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn-nv-pr {
  border: none;
  background-color: transparent;
}

.lnk-pr{
  color: var(--bgcolor);
  font-size: 25px;
  line-height: 5px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-btn-nv-pr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 0px;
}

.btn-pr {
  background-color: #253745;
  color: rgba(228, 200, 124, 0.979);
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-pr:hover {
  background-color: #5a5c617e;
  color: #fff;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.btn-filter {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  transition: 0.6s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.btn-filter span {
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: 400;
  line-height: 5px;
}

.btn-filter i {
  font-size: 15px;
}
