:root {
    --bgcolor: rgba(18, 17, 20, 0.808);
    --bgcolor2: rgba(24, 24, 26, 0.904);
    --bgcolor3: rgba(236, 181, 78, 0.74);
    --input: rgba(80, 78, 99, 0.87);
    --color: wheat;
    --title: whitesmoke;
    --color-title: rgba(253, 253, 253, 0.952);
    --icon: black;
    --font: "Comfortaa", sans-serif;
  }
  

.horizontal{
    height: 35px;
    width: 1px;
    background-color: rgb(218, 218, 218);
    margin: 0px 6px 0 6px;
}

.lateral{
    height: 1px;
    width: 100%;
    background-color: rgb(218, 218, 218) ;
    margin: 20px 0px 20px 0px;
}

.lateralp{
    background-color: rgb(218, 218, 218);
    height: 1px;
    width: 85%;
}

.barra{
    border-radius: 0px 0 10px 10px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 2px gray;
}

.logo{
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    display: flex;
}

.funt{
    display: flex;
    margin-left: 60px;
}

.buscr{
    display: flex;
    margin: 10px;
    padding: 10px 10px 10px 14px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 100px;
    height: 50px;
    align-items: center;
}

.boton{
    border-radius: 100px;
    font-size: 17px;
    border: none;
    width: 140px;
    height: 50px;
    background: none;
}

.boton:hover{
    background-color: rgb(228, 228, 228);
}


.lup{
    border: 1px gray solid;
    text-align: center;
    background: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    align-items: center;
    margin-left: 8px;
    font-size: 17px;
}

.lup:hover{
    background-color: black;
    color: white;
}

.log{
    display: flex;
    align-items: center;
}

.sub {
    font-size: 17px;
    background: none;
    border: none;
}

.int{
    border: none;
    border-radius: 100%;
    background: none;
    width: 30px;
    height: 30px;
    margin: 0px 12px 0px 4px;
}

.int {
    font-size: 17px;
}

.logi{
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 10px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 100px;
    height: 50px;
    width: 100px;
    font-size: 17px;
}

.lup2{
    background: none;
    border: none;
    border-radius: 100%;
    width: 55px;
    height: 55px;
    font-size: 17px;
}

.men{
    width: 30px;
    height: 30px;
}

.user{
    width: 40px;
    height: 40px;
}

.lo{
    color: var(--bgcolor3);
    font-size: 30px;
}