.footer {
  background-color: #18171b;
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer .footer-content {
  max-width: 1200px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer .footer-content .footer-section {
  flex: 1;
  padding: 25px;
}

.footer .footer-content .footer-section h2 {
  margin-bottom: 15px;
}

.footer .footer-content .footer-section p {
   color: #ccc;
}

.footer .footer-content .footer-section .socials a {
 
  color: #fff;
  margin-right: 10px;
}

.footer .footer-bottom {
  text-align: center;
  margin-top: 15px;
  color: #ccc;
}
