/*? sliderbar */
.sidebar {
  position: absolute;
  width: 235px;
  height: 100%;
  color: #fff;
  padding: 10px;
  background-color: rgb(40, 46, 51);
}

.sidebar .ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
}

.sidebar li {
  cursor: pointer;
  border-radius: 5px;
}

.sidebar li .lnk-sidebar {
  color: white;
  font-size: 18px;
  font-weight: 300;
  margin: 5px;
  display: flex;
  align-items: center;
  gap: 12px
  ;
}

.sidebar li.active {
  background-color: #767888;
  padding: 15px;
  border-radius: 15px 0px 0px 15px;
  width: 220px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border: none;
}

.content-btn-logout {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.btn-logout {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 120px;
  margin-left: 15px;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.btn-logout:hover {
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  background-color: #3a0d08dc;
  box-shadow: 10px 5px 50px rgba(94, 2, 2, 0.897);
}
