/*? sliderbar */
.sidebar {
  position: fixed;
  width: 235px;
  height: 100%;
  color: #fff;
  padding: 20px;
  background-color: rgb(40, 46, 51);
}

.sidebar .ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  cursor: pointer;
  border-radius: 5px;
}

.sidebar li .lnk-sidebar {
  color: white;
  font-size: 18px;
  font-weight: 500;
  }

.sidebar li.active {
  background-color: #767888;
  padding: 15px;
  border-radius: 15px 0px 0px 15px;
  width: 210px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border: none;
}

.content-btn-logout {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.btn-logout {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 220px;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.btn-logout:hover {
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  background-color: #441612b4;
  box-shadow: 5px 10px 30px rgb(236, 0, 0);
}

.btn-logout:hover {
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  background-color: #77322cb4;
}
