/*? sliderbar */
.sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  color: #fff;
  padding: 20px;
  background-color: rgb(25, 6, 45);}

.sidebar .ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.sidebar li.active {
  background-color: cadetblue;
}
