:root {
    --bgcolor: #11212D;
    --bgcolor2: rgba(24, 24, 26, 0.904);
    --bgcolor3: rgba(236, 181, 78, 0.74);
    --input: rgba(80, 78, 99, 0.87);
    --color: wheat;
    --title: whitesmoke;
    --color-title: rgba(253, 253, 253, 0.952);
    --icon: black;
    --font: "Comfortaa", sans-serif;
  }

.cuadro{
    position: sticky;
    top: 0;
    margin: 20px 10px 10px 10px;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    height: auto;
    max-height: 450px;
    background-color: rgba(13, 8, 22, 0.986);
    box-shadow: 5px 5px 30px rgb(0, 0, 0);
}

.prices{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.price{
    display: flex;
    align-items: center;
    color: var(--bgcolor3);
}

.price > h1{
    font-size: 25px;
    color: var(--bgcolor3);
}

.prices > a{
    color: var(--color);
}

.horario{
    display: flex;
}

.horario > button{
    background: none;
    width: 50%;
    height: 60px;
    border: var(--bgcolor3) 1px solid;
    border-bottom: none;
    color: var(--color);
}

.llegada{
    border-radius: 10px 0 0 0;
    border-right: none;
}

.salida{
    border-radius: 0 10px 0 0;
}

.huespe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    border-top: none;
    border: var(--bgcolor3) 1px solid;
    color: var(--color);
}

.reserva{
    width: 100%;
    margin: 10px 0 10px 0;
    height: 40px;
    background: rgb(5,88,0);
    background: linear-gradient(90deg, rgba(5,88,0,1) 0%, rgba(12,152,35,1) 50%, rgba(0,255,111,1) 100%);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}

.reserva:hover{
    background: rgb(3,60,0);
    background: linear-gradient(90deg, rgba(3,60,0,1) 0%, rgba(10,113,27,1) 50%, rgba(0,185,80,1) 100%);
    color: white;
}

.cargos{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--color);
}

.cargos > p{
    color: gray;
    margin: 10px 0 10px 0;
    font-size: 13px;
}

.tarifa1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}

.tarifa2{
    display: flex;
    justify-content: space-between;
}

.separ{
    border: 1px 0 0 0 solid  grey;
    margin: 10px 0 10px 0;
    width: 95%;
}

.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}