:root {
    --bgcolor: #11212D;
    --bgcolor2: rgba(24, 24, 26, 0.904);
    --bgcolor3: rgba(236, 181, 78, 0.74);
    --input: rgba(80, 78, 99, 0.87);
    --color: wheat;
    --title: whitesmoke;
    --color-title: rgba(253, 253, 253, 0.952);
    --icon: black;
    --font: "Comfortaa", sans-serif;
  }

.cuadro{
    position: sticky;
    top: 0;
    margin: 20px 10px 10px 10px;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    max-height: 900px;
    background-color: rgba(13, 8, 22, 0.986);
    box-shadow: 5px 5px 30px rgb(0, 0, 0);
}

.prices{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.price{
    display: flex;
    align-items: center;
    color: var(--bgcolor3);
}

.price > h1{
    font-size: 25px;
    color: var(--bgcolor3);
}

.prices > a{
    color: var(--color);
}

.horario{
    display: flex;
}

.horario > button{
    background: none;
    width: 50%;
    height: 60px;
    border: var(--bgcolor3) 1px solid;
    border-bottom: none;
    color: var(--color);
}

.llegada{
    border-radius: 10px 0 0 0;
    border-right: none;
}

.salida{
    border-radius: 0 10px 0 0;
}

.huespe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    border-top: none;
    border: var(--bgcolor3) 1px solid;
    color: var(--color);
}

.reserva{
    width: 100%;
    margin: 10px 0 10px 0;
    height: 40px;
    background: rgb(5,88,0);
    background: linear-gradient(90deg, rgba(5,88,0,1) 0%, rgba(12,152,35,1) 50%, rgba(0,255,111,1) 100%);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}

.reserva:hover{
    background: rgb(3,60,0);
    background: linear-gradient(90deg, rgba(3,60,0,1) 0%, rgba(10,113,27,1) 50%, rgba(0,185,80,1) 100%);
    color: white;
}

.cargos{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--color);
}

.cargos > p{
    color: gray;
    margin: 10px 0 10px 0;
    font-size: 13px;
}

.tarifa1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}

.tarifa2{
    display: flex;
    justify-content: space-between;
}

.separ{
    border: 1px 0 0 0 solid  grey;
    margin: 10px 0 10px 0;
    width: 95%;
}

.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.ModalCOM{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(10, 12, 27);
    width: 50%;
    height: auto;
    box-shadow: 0 0 10px 10000px rgba(197, 197, 197, 0.397);
    border-radius: 20px;
    padding: 20px;
    color: white;
}

.inpdate{
    background: none;
    color: var(--color);
    border: none;
    text-align: center;
}

.hue{
    color: var(--color);
    background: none;
    border: none;
    font-size: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 100%;
    padding: 5px;
}

.hue:hover{
    background: rgb(49, 49, 49);
}

.ModalCant{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(10, 12, 27);
    width: 800px;
    box-shadow: 0 0 10px 10000px rgba(197, 197, 197, 0.397);
    border: none;
    border-radius: 20px;
    padding: 20px 40px 60px ;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.hues{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
    width: 90%;
}

.in{
    display: flex;
    flex-direction: column;
}

.in > input{
    width: 90%;
    margin: 10px;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: white;
    font-size: 16px;
}

.Modalheas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.Modalheas > h1{
    color: white;
    font-size: 20px;
    position: left;
}

.Modalheas > button{
    background: none;
    color: white;
    border: none;
    font-size: 30px;
}

.ModalHu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-modal{
    border: none;
    background-color: rgb(0, 68, 255);
    color: white;
    width: 40%;
    margin-top: 30px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-modal:hover{
    background: rgb(0, 68, 255);
    background: linear-gradient(90deg, rgb(12, 55, 173) 0%, rgb(17, 75, 235) 50%, rgb(4, 41, 144) 100%);
    color: white;
}