.lin {
  margin-top: 20px;
  cursor: pointer;
}

.lin > h1 {
  font-size: 40px;
  margin-bottom: 10px;
  color: white;
}

.informacion {
  justify-content: center;
  align-items: center;
  width: 86%;
}

.enlaces {
  display: flex;
  justify-content: space-between;
}

.part1 {
  display: flex;
}

.part1 > p {
  margin: 0px 8px 0px 8px;
  color: white;
}

.part1 > a {
  color: white;
}

.part2 {
  display: flex;
}

.com {
  align-items: center;
  display: flex;
  margin-right: 20px;
  color: white;
}

.com > a {
  color: white;
}

.guar {
  align-items: center;
  display: flex;
  margin-right: 20px;
  color: white;
}

.guar > a {
  color: white;
}

.com > img {
  width: 20px;
  margin-right: 2px;
}

.guar > img {
  width: 20px;
  margin-right: 3px;
}

.content-img {
  display: flex;
  justify-content: center;
}

.imag {
  display: flex;
  margin: 12px;
  width: 100%;
}

.imgReserva {
  background-image: url(../assets/image-10.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 450px;
  height: auto;
  max-height: 500px;
  border-radius: 30px;
  margin: 15px;
}

.btn-most-img .btn-img {
  position: absolute;
  top: 25%;
  left: 56%;
  border: none;
  border-radius: 6px;
  padding: 9px;
  font-size: 17px;
  font-weight: 400;
  font-family: poppins;
  background-color: whitesmoke;
}

.btn-most-img .btn-img:hover {
  border: none;
  border-radius: 8px;
  height: 30px;
  width: 160px;
  border: 1px solid;
  background-color: rgb(224, 224, 224);
}

.swiper-next-button {
  background-color: transparent;
  color: white;
  font-size: 50px;
  margin-right: 10px;
}

.swiper-prev-button {
  background-color: transparent;
  color: white;
  font-size: 50px;
  margin-right: 10px;
}

