:root {
    --bgcolor: rgba(18, 17, 20, 0.808);
    --bgcolor2: rgba(24, 24, 26, 0.904);
    --bgcolor3: rgba(236, 181, 78, 0.74);
    --input: rgba(80, 78, 99, 0.87);
    --color: wheat;
    --title: whitesmoke;
    --color-title: rgba(253, 253, 253, 0.952);
    --icon: black;
    --font: "Comfortaa", sans-serif;
  }
  

.horizontal{
    height: 35px;
    width: 1px;
    background-color: var(--color);
    margin: 0px 6px 0 6px;
}

.lateral{
    height: 1px;
    width: 100%;
    background-color: rgb(218, 218, 218) ;
    margin: 20px 0px 20px 0px;
}

.lateralp{
    background-color: rgb(218, 218, 218);
    height: 1px;
    width: 85%;
}

.barra{
    border-radius: 0px 0 10px 10px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.637);
    background-color: rgba(22, 22, 27, 0.986);
}

.logo{
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    display: flex;
    color: var(--bgcolor3);
}

.funt{
    display: flex;
    margin-left: 60px;
}

.buscr{
    display: flex;
    margin: 10px;
    padding: 10px 10px 10px 14px;
    border: 1px solid var(--bgcolor3);
    border-radius: 100px;
    height: 50px;
    align-items: center;
    color: var(--bgcolor3);
}

.boton{
    border-radius: 100px;
    font-size: 17px;
    border: none;
    width: 140px;
    height: 50px;
    background: none;
    color: var(--bgcolor);
}

.boton:hover{
    transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1); 
    color: var(--bgcolor3);
    cursor: pointer;
}


.lup{
    border: none;
    text-align: center;
    background: none;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    align-items: center;
    margin-left: 8px;
    font-size: 24px;
    color: var(--bgcolor3);
}

.lup:hover{
    background-color: rgb(49, 49, 49);
    color: white;
}

.log{
    display: flex;
    align-items: center;
}

.sub {
    font-size: 17px;
    background: none;
    border: none;
    color: var(--color);
}

.int{
    border: none;
    border-radius: 100%;
    background: none;
    width: 30px;
    height: 30px;
    margin: 0px 12px 0px 4px;
    font-size: 17px;
    color: var(--bgcolor3);
}

.logi{
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 10px;
    border: 1px solid var(--bgcolor3);
    border-radius: 100px;
    height: 50px;
    width: 100px;
    font-size: 17px;
}

.lup2{
    background: none;
    border: none;
    border-radius: 100%;
    width: 55px;
    height: 55px;
    font-size: 17px;
    color: var(--bgcolor3);
}

.men{
    width: 30px;
    height: 30px;
}

.user{
    width: 40px;
    height: 40px;
}

.lo{
    color: var(--bgcolor3);
    font-size: 30px;
}

.lin{
    color: var(--bgcolor3);
}

.junt{
    display: flex;
    align-items: center;
    justify-content: space-between;
}