* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Poppins;
  list-style: none;
}

html{
  scroll-behavior: smooth;
}
body{
  background-color: rgba(86, 85, 92, 0.616);
}
.root{
    background-color: rgb(162, 166, 168);
}
