/* Login.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

.container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.frm {
  width: 380px;
  padding: 20px;
  border: 1px solid #ddd;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 8px 5px 40px #8baeee;
  transition: box-shadow 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.frm:hover {
  box-shadow: -8px -5px 40px #8baeee;
}

.input-group .icon {
  text-transform: uppercase;
  color: brown;
  font-size: 25px;
}

.icon .logo-name {
  font-size: 25px;
  color: brown;
}

.input-group h1 {
  color: #8baeee;
  text-shadow: 2px 5px 20px #76b9a8;
  font-size: 15px;
  font-weight: 650;
  text-align: left;
  margin-bottom: 10px;
}

.input-feild {
  position: relative;
}


hr {
  opacity: 1% #9ecaed;
  margin: 20px 0px 5px 0px;
  width: 100%;
}

.or {
  position: relative;
  top: -22px;
  left: 130px;
}

.or span {
  font-size: 10px;
  text-transform: uppercase;
  background-color: #fff;
  padding: 15px;
}

.button {
  perspective: 800px;
  text-align: center;
}

.button .btn-lgn {
  background-color: #35a8f5; /* Green */
  border: none;
  color: white;
  padding: 10px 22px;
  margin: 5px 0px 0px 15px;
  width: 50%;
  border: none;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  transition: transform 0.5s,
    background-color 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.button .btn-lgn:hover {
  transform: scale(1) rotateY(360deg);
  background-color: #96cee0; /* Blue */
}

.other-logins {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.other-logins a {
  margin: 5px;
  padding: 8px;
  width: 100%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 19px;
  text-decoration: none;
}

.other-logins .facebook {
  background-color: rgb(44, 34, 178);
  color: whitesmoke;
}

.other-logins .google {
  color: whitesmoke;
  background-color: rgba(243, 61, 61, 0.74);
}

.other-logins .instagram {
  color: whitesmoke;
  background: rgb(36, 66, 154);
  background: linear-gradient(
    90deg,
    rgba(36, 66, 154, 1) 0%,
    rgba(99, 9, 121, 1) 35%,
    rgba(255, 0, 116, 1) 100%
  );
}

.logo-span {
  margin-left: 12px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: beige;
}

.link-router {
  display: grid;
  grid-template-columns: repeat(1fr, 1fr);
  margin: 5px 0px 11px 12px;
}

.link-router span {
  color:  black;
  font-size: 15px;
  margin-bottom: 5px;
}
.link-router .link {
  margin: 5px;
  color: rgb(15, 66, 233);
  font-size: 15px;
  text-align: left;
}
